@import "tailwindcss";




.nav-background{
  object-fit: cover;
  background-repeat: no-repeat;
}

.checkered-background{
  background-image: url('./public/YellowBackground.jpeg');

}

.animation{
  transition:0.4s
}